<h1><%= @cohort.id %></h1>

<%= form_for @cohort, url: "/cohorts/#{@cohort.id}/edit/confirm" do |f| %>
  <div class="field">
      Name<br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

     <div class="field">
      Start Date<br />
      <%= f.text_field :start_date, autofocus: true, autocomplete: "start_date" %>
    </div> 

    <div class="field">
      End Date<br />
      <%= f.text_field :end_date, autofocus: true, autocomplete: "end_date" %>
    </div> 

    <div class="field">
      <%= f.label :Course_ID %><br />
      <%= f.number_field :course_id, autofocus: true, autocomplete: "course_id" %>
    </div> 
    
     <div class="field">
      Instructor ID <br />
      <%= f.text_field :instructor_id, autofocus: true, autocomplete: "instructor_id" %>
    </div> 

     <div class="actions">
      <%= f.submit "Update" %>
    </div>

    <% end %>
