<h1><%= @course.id %></h1>

<%= form_for @course, url: "/courses/#{@course.id}/edit/confirm" do |f| %>
  <div class="field">
      Name<br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

     <div class="field">
      Hours<br />
      <%= f.number_field :hours, autofocus: true, autocomplete: "hours" %>
    </div> 

    

     <div class="actions">
      <%= f.submit "Update" %>
    </div>

<% end %>